@import url("~normalize.css/normalize.css");
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&subset=latin-ext');
$white: #fff;
$white-darker: #f0f0f0;

$purple-lighter: #6166ed;
$purple: #4b479e;

$blue-lighter: #5c7cc7;
$blue: #72b2f2;
$blue-darker: #161765;

$green-darker: #4CAF50;
$green: #7dbd6e;

$red: #E91E63;

$black: #000;

:root,
html {
  font-size: 8.4px;
  @media only screen and (min-width: 768px) {
    font-size: 7.1px;
  }
  @media only screen and (min-width: 1280px) {
    font-size: 0.52vw;
  }
}

a:hover,
button:hover {
  cursor: pointer;
}

.main-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 2rem 1px rgba(55,53,154,.15);
  box-shadow: 0 0 2rem 1px rgba(55,53,154,.15);

  &__list {
    display: none;
    list-style-type: none;
  }

  &__list--mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    padding: 2.5rem;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    margin: 0;
  }

  &__item--mobile {}

  &__logo {
    height: 3rem;

    .cls-1 {
      font-size: 86.73px;
      font-family: 'Montserrat', sans-serif;
      letter-spacing: -0.02em;
      fill: $blue-darker;
    }
  }

  &__icon {
    position: relative;
    display: block;
    width: 23px;
    height: 23px;
    cursor: pointer;
    float: right;
    background: none;
    border: none;
    color: inherit;
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    margin-top: 6px;

    &:after {
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      height: 0;
      top: 4px;
      left: 0;
      -webkit-box-shadow: 0 8px 0 1px $black, 0 16px 0 1px $black;
      box-shadow: 0 8px 0 1px $black, 0 16px 0 1px $black;
    }

    &:before {
      content: '';
      position: absolute;
      display: block;
      width: 75%;
      height: 0;
      top: 4px;
      left: 0;
      -webkit-box-shadow: 0 0 0 1px $black;
      box-shadow: 0 0 0 1px $black;
    }
  }
  background: $white;

  &--on-top {
    background: none;

    .main-menu__list {
      padding: 5rem 4.5rem;
    }

    .main-menu__list--mobile {
      padding: 6rem 2.5rem;
    }

    .main-menu__anchor {
      color: $white;
    }

    .main-menu__icon {
      margin-top: 4px;

      &:after {
        -webkit-box-shadow: 0 8px 0 1px $white, 0 16px 0 1px $white;
        box-shadow: 0 8px 0 1px $white, 0 16px 0 1px $white;
      }

      &:before {
        -webkit-box-shadow: 0 0 0 1px $white;
        box-shadow: 0 0 0 1px $white;
      }
    }

    .main-menu__logo {
      .cls-1 {
        fill: $white;
      }
    }
    @media only screen and (min-width: 1280px) {
      .main-menu__list {
        padding: 5.5rem 20rem;
      }
    }
  }
  @media only screen and (min-width: 768px) {
    &__list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      list-style-type: none;
      padding: 2.75rem 4rem;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: stretch;
      -ms-flex-align: stretch;
      align-items: stretch;
      margin: 0;

      div {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
      }
    }

    &__anchor {
      text-decoration: none;
      font-family: 'Montserrat', sans-serif;
      padding: 1rem;
      font-size: 1.8rem;
      font-weight: 600;
      margin-right: 1rem;
      color: $black;
    }

    &__item:last-of-type &__anchor {
      margin-right: 0;
      border: 2px solid $blue-lighter;
      border-radius: 3rem;
      padding: 1.5rem 2.5rem;
    }

    &__list--mobile {
      display: none;
    }
  }
  @media only screen and (min-width: 1280px) {
    &__list {
      padding: 3.5rem 20rem;
    }

    &__anchor {
      margin-right: 5rem;
    }
  }
}

.main-slider {
  background-image: url("../images/bg2.jpg");
  background-size: cover;
  color: $white;
  padding: 25rem 2.5rem 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;

  &__heading {
    font-size: 4rem;
    line-height: 5rem;
    color: $white;
    font-weight: bold;
    margin: 0 0 3rem;
  }

  &__desc {
    color: $blue;
    font-size: 2rem;
    font-weight: 400;
    line-height: 3rem;
    margin-bottom: 10rem;
  }

  &__anchors {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 8rem;
  }

  &__anchor {
    margin-right: 1rem;
    margin-bottom: 1rem;
    font-size: 1.8rem;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    font-weight: 600;
    text-decoration: none;
    line-height: 2.4rem;
    padding: 2rem 3rem;
    color: $white;
    background-color: $purple-lighter;
    text-align: center;
  }

  &__logos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 4rem;
  }
  @media only screen and (min-width: 768px) {
    padding: 30rem 4.5rem 0;
  }
  @media only screen and (min-width: 1280px) {
    padding: 30rem 20rem 0;

    &__heading {
      font-size: 5.7rem;
      font-weight: 700;
      line-height: 6.7rem;
      margin-bottom: 3rem;
    }
  }
}

.logos__company-logo {
  display: none;
  @media only screen and (min-width: 768px) {
    display: block;
    width: calc(7.4vw + 40px);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px;
  }
}

.section {
  padding: 10rem 2.5rem 0;

  &--second {
    background-color: $white-darker;
    margin-top: 10rem;
    padding-bottom: 1px;
  }

  &--last {
    background-image: url("../images/bg1.jpg");
    background-size: cover;
    padding-bottom: 10rem;
  }

  &__article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    margin-bottom: 10rem;
  }

  .card-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  @media only screen and (min-width: 768px) {
    padding: 10rem 4.5rem 0;

    &--second {
      margin-top: 10rem;
      padding-bottom: 1px;
    }

    &--last {
      padding-bottom: 10rem;
    }
  }
  @media only screen and (min-width: 1280px) {
    padding: 10rem 20rem 0;

    .section--second &__article {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-line-pack: center;
      align-content: center;
    }

    &__article {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
      -ms-flex-line-pack: center;
      align-content: center;
    }

    .article-container {
      -webkit-box-flex: 45%;
      -ms-flex: 45%;
      flex: 45%;
      margin: 3rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
    }

    &--last {
      padding: 10rem 28.7rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }
  }
}

.article {
  &__heading {
    color: $purple;
    font-size: 3rem;
    font-weight: 700;
    line-height: 4rem;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 0 0 6rem;
    -webkit-box-ordinal-group: 0;
  }

  &__paragraph {
    line-height: 3rem;
    color: $black;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    text-align: center;
    margin: 0;
    padding-bottom: 6rem;

    &--small {
      font-size: 1.4rem;
    }
  }

  &__figure {
    margin: 0;
    padding: 0;

    img {
      width: 100%;
    }
  }
}

.card {
  margin-bottom: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: left;
  -webkit-box-shadow: 0 0 4rem 1px rgba(55,53,154,.15);
  box-shadow: 0 0 4rem 1px rgba(55,53,154,.15);
  -webkit-box-flex: 100%;
  -ms-flex: 100%;
  flex: 100%;

  div {
    padding: 4rem;
  }

  &__heading {
    color: $blue-darker;
    font-size: 2rem;
    font-weight: 600;
    line-height: 3rem;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 2rem;
    margin-top: 4rem;
  }

  &__paragraph {
    color: $blue-darker;
    font-family: 'Montserrat', sans-serif;
    line-height: 2.4rem;
    font-size: 1.6rem;
    font-weight: 500;
    margin: 0;
    padding: 0;
  }

  &__anchor {
    background-color: $purple;
    font-family: 'Montserrat', sans-serif;
    display: block;
    margin-top: 4rem;
    padding: 2rem 3rem;
    font-size: 1.8rem;
    font-weight: 600;
    color: $white;
    text-align: center;
    text-decoration: none;
  }

  &__figure {
    -ms-flex-item-align: start;
    align-self: flex-start;
    height: 15rem;
    max-width: 100%;
    margin: 0;
    display: block;

    img {
      height: 15rem;
      max-width: 100%;
    }
  }
  @media only screen and (min-width: 768px) {
    -webkit-box-flex: 50%;
    -ms-flex: 50%;
    flex: 45%;
    margin: 2.25rem;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  @media only screen and (min-width: 1280px) {
    -webkit-box-flex: 17%;
    -ms-flex: 17%;
    flex: 17%;
    margin: 3rem;
  }
}

.address {
  margin-bottom: 10rem;

  &__paragraph {
    font-family: 'Montserrat', sans-serif;
    font-size: 16pt;
    line-height: 2.4rem;
    font-size: 1.6rem;
    color: $white;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;

    a {
      color: $green;
      text-decoration: none;
    }
  }
  @media only screen and (min-width: 1280px) {
    -ms-flex-item-align: center;
    align-self: center;

    &__paragraph {
      text-align: left;
      line-height: 3.2rem;
    }
  }
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 686px;

  &__heading {
    color: $white;
    text-align: left;
    font-size: 3rem;
    font-weight: 700;
    line-height: 4rem;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 0 0 6rem;
  }
  @media only screen and (min-width: 1280px) {
    margin-right: 0;

    &__heading {
      -ms-flex-item-align: start;
      align-self: flex-start;
      margin: 15px;
    }
  }
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;

  &__input {
    background: transparent;
    border: 0;
    border-bottom: 1px solid $white;
    padding: 1rem 0;
    margin-bottom: 3rem;
    color: $white;
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    max-width: 330px;
  }

  &__input:valid,
  &__textarea:valid {
    border-bottom: 1px solid $green-darker;
  }

  &__input:invalid:not(:placeholder-shown):not(:focus),
  &__textarea:invalid:not(:placeholder-shown):not(:focus) {
    border-bottom: 1px solid $red;
  }

  &__label,
  &__label--text-area {
    color: $white;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 500;
  }

  &__textarea {
    background: transparent;
    border: 0;
    border-bottom: 1px solid $white;
    padding: 1rem 0;
    margin-bottom: 3rem;
    color: $white;
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    max-width: 330px;
  }

  &__button {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: $green;
    font-weight: 600;
    font-size: 1.6rem;
    background: transparent;
    border: 1px solid $green;
    padding: 22.5px 39px;
    border-radius: 30px;
    text-transform: uppercase;
    -ms-flex-item-align: center;
    align-self: center;
  }

  div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    width: 100%;
    max-width: 330px;
  }
  @media only screen and (min-width: 768px) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    max-width: 686px;

    div {
      -webkit-box-flex: 45%;
      -ms-flex: 45%;
      flex: 45%;
      margin: 2.25rem;
    }

    div:last-of-type {
      -webkit-box-flex: 100%;
      -ms-flex: 100%;
      flex: 100%;
      max-width: 686px;
    }

    &__button {
      margin-left: auto;
      margin-right: 2.25rem;
    }

    &__textarea {
      max-width: 686px;
    }
  }
  @media only screen and (min-width: 768px) {
    div {
      margin: 15px;
    }

    &__button {
      margin-right: 15px;
    }
  }
}

.footer {
  padding-top: 10rem;

  p {
    margin: 0;
    color: $white;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 600;
    text-align: left;
  }
  @media only screen and (min-width: 1280px) {
    -webkit-box-flex: 100%;
    -ms-flex: 100%;
    flex: 100%;

    p {
      font-size: 1.6rem;
    }
  }
}

.social-icon {
  height: 3rem;
  margin-right: 3rem;
  margin-top: 6rem;
}

.social-icon:last-of-type {
  margin-right: 0;
}

.social-icon:hover .path {
  fill: $green;
  cursor: pointer;
}

.arrow-icon {
  height: 1.4rem;

  .path {
    font-weight: 1000;
  }
}

.hidden {
  display: none;
}
